torch
torchvision
pytorch-metric-learning==1.1.2
numpy
pandas
scipy
ocnn
thsolver==1.1.4
tqdm
plyfile
tensorboard
tensorboardX
protobuf
scikit-learn
scikit-image
wget
timm
pyyaml
matplotlib
thop
submitit
wandb
wandb-osh
open3d
