torch
torchvision
pytorch-metric-learning
numpy
pandas
scipy
ocnn
thsolver==1.1.4
tqdm
plyfile
tensorboard
tensorboardX
protobuf
scikit-learn
scikit-image
wget
timm
pyyaml
matplotlib
thop
wandb
open3d
